Server/GameServer/.vs
Server/XmlRpc/Release
Server/XmlRpc/.vs
Server/ZipArchive/Release STL MT
Server/ZipArchive/.vs
Client/BaseClasses/Release
Client/BaseClasses/.vs
Client/.vs
Intermediate/
Build/


